﻿@model IEnumerable<AspRoundSlider.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>All items</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id} )
            </td>
        </tr>

    }

</table>

